---
import Layout from "../layouts/Layout.astro";
import farsiTableDataJson from "../data/prs.json";
import tableDataJson from "../data/periodic-elements.json";

type ElementData = {
  name: string;
  appearance: string | null;
  atomic_mass: number;
  boil: number | null;
  category: string;
  density: number | null;
  discovered_by: string | null;
  melt: number | null;
  molar_heat: number | null;
  named_by: string | null;
  number: number;
  period: number;
  group: number;
  phase: "Gas" | "Solid" | "Liquid" | "Unknown"; // Literal types for stricter safety
  source: string;
  bohr_model_image: string | null;
  bohr_model_3d: string | null;
  spectral_img: string | null;
  summary: string;
  symbol: string;
  xpos: number;
  ypos: number;
  wxpos: number;
  wypos: number;
  shells: number[];
  electron_configuration: string;
  electron_configuration_semantic: string;
  electron_affinity: number | null;
  electronegativity_pauling: number | null;
  ionization_energies: number[];
  "cpk-hex": string | null; // Quoted because of the dash character
  image: EnglishElemntImage;
  block: "s" | "p" | "d" | "f";
};
type EnglishElemntImage = {
  title: string;
  url: string;
};
type FarsiElementData = {
  name: string;
  summary: string;
};
type EnglishElemntData = {
  elements: ElementData[];
};
type farsiTableData = Record<string, FarsiElementData>;
const farsiPeriodicData: farsiTableData = farsiTableDataJson;
const periodicData: EnglishElemntData = tableDataJson;

const PhaseColor: Record<
  string,
  { name: string; border: string; bg: string; text: string }
> = {
  Gas: {
    name: "گاز",
    border: "border-emerald-500",
    bg: "bg-emerald-950",
    text: "text-emerald-500",
  },
  Solid: {
    name: "جامد",

    border: "border-red-500",
    bg: "bg-red-950",
    text: "text-red-500",
  },
  Liquid: {
    name: "مایع",

    border: "border-sky-500",
    bg: "bg-sky-900",
    text: "text-sky-500",
  },
  Default: {
    name: "نامشخص",

    border: "border-border",
    bg: "bg-surface",
    text: "text-foreground", // Fixed your fallback from "bg-surface" to text style
  },
};
---

<Layout>
  <header
    class='bg-surface sticky top-0 z-50 flex h-16 w-full items-center justify-between'>
    <section class='flex w-full gap-4 px-2 py-2'>
      {
        Object.entries(PhaseColor)
          .filter(([key]) => key !== "Default")
          .map(([_, value]) => (
            <span
              class={`h-12 w-full ${value.bg} ${value.text} ${value.border} flex items-center justify-center rounded-xl border text-sm`}>
              {value.name}
            </span>
          ))
      }
    </section>
    <section class='h-full px-4 py-2'>
      <div
        class='bg-primary text-background flex aspect-square h-full w-full items-center justify-center rounded-lg'>
        <svg
          xmlns='http://www.w3.org/2000/svg'
          width='32'
          height='32'
          viewBox='0 0 16 16'
          ><!-- Icon from Charm Icons by Jay Newey - https://github.com/jaynewey/charm-icons/blob/main/LICENSE -->
          <path
            fill='none'
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='1.5'
            d='m2.75 12.25h10.5m-10.5-4h10.5m-10.5-4h10.5'
          ></path></svg
        >
      </div>
    </section>
  </header>
  <main class='flex min-h-screen w-full flex-col'>
    <article class='flex flex-col'>
      <section>
        <h1 class='text-foreground font-bold'>جدول تناوبی</h1>
      </section>
      <section
        dir='ltr'
        class='grid grid-cols-2 gap-4 p-4 md:grid-cols-4'>
        {
          Object.entries(farsiPeriodicData).map(([key, value]) => {
            const atomicNumber = Number(key);
            const englishElement = periodicData.elements.find(
              (el) => el.number === atomicNumber,
            );
            const phase = englishElement?.phase || "Default";
            const currentStyle = PhaseColor[phase] || PhaseColor["Default"];

            return (
              <div>
                <div
                  class={`relative flex aspect-9/12 w-full flex-col items-center justify-evenly rounded-lg border ${currentStyle?.bg} ${currentStyle?.border} `}>
                  <h3 class={` ${currentStyle?.text} absolute top-2 left-2`}>
                    {key}
                  </h3>
                  <h2 class={`text-7xl font-bold ${currentStyle?.text} `}>
                    {englishElement?.symbol}
                  </h2>
                  <h3 class='text-primary text-sm'>
                    {englishElement?.atomic_mass}
                  </h3>
                  <h3 class='text-foreground text-xl font-bold'>
                    {value.name}
                  </h3>

                  <h3 class='text-primary'>{englishElement?.name}</h3>
                </div>
                <div
                  class={`col-span-full flex h-full w-full flex-col items-center justify-evenly bg-amber-500 text-right`}>
                  <div class='flex w-full items-center justify-between'>
                    <h4 class=''> {englishElement?.number}</h4>
                    <h4>{value.name}</h4>

                    <h4 class=''>{currentStyle?.name}</h4>
                  </div>
                  <div class='flex w-full items-center justify-between'>
                    <img
                      class='rounded-lg bg-white p-2'
                      src={`${englishElement?.bohr_model_image}`}
                      alt=''
                    />
                    <div class='flex flex-col'>
                      <h4>{englishElement?.symbol}</h4>
                      <h4>{englishElement?.name}</h4>
                      <h4>{englishElement?.atomic_mass}</h4>
                    </div>
                  </div>

                  <h4>{value.summary}</h4>
                  <img
                    src={englishElement?.image.url}
                    alt=''
                  />
                  <h4
                    dir='ltr'
                    class='text-left'>
                    {englishElement?.image.title}
                  </h4>
                </div>
              </div>
            );
          })
        }
      </section>
    </article>
  </main>
  <footer></footer>
</Layout>
